body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.first{
    display: grid;
    grid-template-columns: 40% 60%;
    color: #f4f1f1;
    padding: 35px;
    

}

#IframeyStartButton iframe{
    border-radius: 15px;
    
    
}

#IframeyStartButton  a button{
    
    background-color:  rgb(58, 58, 114);
    color: #f4f1f1;
    font-size: 20px;
    border-radius: 15px;
    border-color: #f4f1f1;
    margin: 50px 0px 0px 130px;
    
}
#IframeyStartButton a button:hover{
    cursor:pointer;
    filter: brightness(110%);
    transform: scale(1.05);

}

 #Text{
    border-radius:15px;
    background-color: rgb(47, 47, 109);
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

 #Text h2{
    font-size: 45px;
    padding: 15px;
    
}
 #Text p{
    font-size: 17px;
    padding: 15px;
 
}
#Text p a{
 color: #f4f1f1;
}
h2{
    font-size: 35px;
    color: #f4f1f1;
    padding-left: 20px;
}
.second{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 25% 75%;
    font-size: 25px;
    color: #f4f1f1;
    padding: 20px;
}

.second a img{
    width: 370px;
    height: 210px;
    border-radius: 10px;
    filter: brightness(85%);
    transition: all .3s;
}
.second a img:hover{
    filter: brightness(100%);
    transform: scale(1.05);
}
/*------------MEDIA QUERY---------------------------------------------------------*/
@media screen and (max-width: 960px) {
 
.first{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
}
#IframeyStartButton iframe{
    width: 100%;
    height: 70%;
}
#IframeyStartButton  a button{
    margin: 10px 0px 10px 340px;
    
}

.second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}
.second a{
    padding: 10px;
}

.second a img{
    width: 100%;
    
}
   
}
@media screen and (max-width: 752px){
    .first{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
    }
    #IframeyStartButton iframe{
        width: 100%;
        height: 70%;
    }
    #IframeyStartButton  a button{
        margin: 10px 0px 10px 240px;
        
    }
    
    .second{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .second a{
        padding-left: 50px;
    }
    
    .second a img{
        height: 300px;
       width: 600px;
        
        
    }

}

@media screen and (max-width: 390px) {

    
   
    #IframeyStartButton iframe{
        margin: 0px;
         height: 400px;
        width: 560px;
        
    }
    #IframeyStartButton  a button{
        margin: 10px 0px 10px 180px;
        
    }
   
    
    
    .second a{
        padding-left: 0px;
    }
    
    .second a img{
      height: 300px;
       width: 600px;
        
        
    }

}


