
.formulario{
    height: 90.2vh;
    display: grid;
    grid-template-areas: "section1 section2 section3"
                         "section1 section4 section4"; 

    background: linear-gradient(0deg, #0a0d1d , #161C40, #1e2759, #1e2759);
    gap: 2px;
    color: aliceblue;
}

form input{
    font-size: 16px;
    height: 20px;
    padding: 4px;
}
input:focus{
    outline: none;
}

/*--------------------------------------------------*/
.section1{
    grid-area: section1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 img{
    width: 200px;
    height: 200px;
    margin-top: 40px;
    border-radius: 500px;
}

.section1 p{
    font-size: 18px;
}

/*-------------------------------------------------*/
.section2{
    font-size: 20px;
    grid-area: section2;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly; 
}

.section2 p{
    display: inline-block;
}

.section2 div{
    padding-right: 150px;
}

#password_readonly,
#new-password,
#repeat-new-password{
    margin-left: 20px;
    letter-spacing: 0.2px;
}

.primerDiv{
    margin-bottom: -25px;
}

.e-mail_titulo{
    padding-right: 20px;
}

.e-mail_valor{
    padding-right: 25px ;
}
/*----------------------------------------------*/
.section3{
    font-size: 20px;
    grid-area: section3;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly; 
    
}

.section3>p{
    align-self: center;
    margin-top: 50px;
    padding-right: 170px;
}

.section3 .medio_pago_tarjeta{
    display: flex;
    flex-direction: column;
}

.div_radio_tarjeta{
    position: relative;
    right: 130px;
}

.div_input_tarjeta{
    position: relative;
    right: 100px;
    top: 10px;
}

#codigo_tarjeta{
    width: 35px;

}

.div_radio_cupon{
    position: relative;
    right: 120px;
}

.div_checkbox{
    position: relative;
    right: 90px;
    top: 10px;
}

#check_rapi_pago{
    margin-left: 30px;
}

.div_transferencia{
    position: relative;
    right: 143px;
}

.medio_pago_transferencia p{
    position: relative;
    right: 111px;
}


/*-----------------------------------------------*/

.section4{
    grid-area: section4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.boton_verde,
.boton_rojo{
    font-size: 20px;
    height: 30px;
    width: 250px;
    border-radius: 7px;
    color: rgb(207, 207, 207);
}

.boton_verde{
    background-color: rgb(0, 133, 0);
    border: none;
    cursor: pointer;
    height: 35px; 
}

.boton_rojo{
    background-color: rgb(196, 0, 0);
    padding-top: 5px;
    text-align: center;
    text-decoration: none;

}


/**/

.section2,
.section3{
    position: relative;
    right: 100px;
}

.section2 input,
.section3 input{
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background-color: #161C40;
    caret-color: rgb(255, 255, 255);
    color: #ffffff;
}








/*---------MEDIA QUERY---------------------------------*/
@media screen and (max-width: 960px) {
    .formulario{
        height: 1400px;
        padding-bottom: 0px;
        grid-template-areas: "section1 section1"
                             "section2 section2"
                             "section3 section3"
                             "section4 section4";                  
    }
    /*----Seccion 1 ----*/
    .section1 > p{
        font-size: 30px;
        margin-bottom: 0px;
    }
    /*----Seccion 2 ----*/
    .section2 {
        font-size: 25px;
        padding: 0;
        right: 180px;
        
        & div{
            padding-right: 0;
        }   
        & > p{
            padding-top: 0;
        }
        .div_change_password{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .label_new_password
        {
            display: block;
            text-align: end;
            height: 62px;
            width: 280px; 
        }
        .primerDiv{
            position: absolute;
            top: -50px;
            left: 405px;
        }
        #password_readonly,
        #new-password,
        #repeat-new-password{
            font-size: 16px;
            height: 30px;
            width: 250px;
            padding: 9px;
            letter-spacing: 2px;
            border: 1px solid #0a0d1d;
        }
    }
    /*----Seccion 3 ----*/
    .section3{
        font-size: 25px;
        margin-bottom: -50px;

        & > p{
            padding-right: 0;
            margin-left: 180px;
            margin-top: 0;
            font-size: 25px;
            border-bottom: 1px solid white;
        }
        .medio_pago_tarjeta{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & .div_radio_tarjeta{
                right: 50px;
                top: 0px;
            }   
            .div_input_tarjeta{
                right: 0px;
                top: 0;

                & input{
                    font-size: 16px;
                    height: 30px;
                    width: 250px;
                    padding: 9px;
                    letter-spacing: 2px;
                    border: 1px solid #0a0d1d;
                }
            }
        }
        .medio_pago_cupon{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & .div_radio_cupon{
                right: 80px;
            }
            .div_checkbox{
                left: 0px;
                top: 0px;
            }
        }
        .medio_pago_transferencia{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & p{
                right: 0;
                left: 30px;
            }
            .label_transf_bancaria,
            #transferencia_bancaria{
                position: relative;
                right: 0px;
                left: 145px;
            }
        }
    }
    /*----Seccion 4 ----*/
    /*no cambie nada del section4*/
}
