
.formulario{
    height: 90.2vh;
    display: grid;
    grid-template-areas: "section1 section2 section3"
                         "section1 section4 section4"; 

    background: linear-gradient(0deg, #0a0d1d , #161C40, #1e2759, #1e2759);
    gap: 2px;
    color: aliceblue;
}

form input{
    font-size: 16px;
    height: 20px;
    padding: 4px;
}
input:focus{
    outline: none;
}

/*--------------------------------------------------*/
.section1{
    grid-area: section1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 img{
    width: 200px;
    height: 200px;
    margin-top: 40px;
    border-radius: 500px;
}

.section1 p{
    font-size: 18px;
}

/*-------------------------------------------------*/
.section2{
    font-size: 20px;
    grid-area: section2;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;


    & .mis_labels{
        display: flex;
        flex-direction: column;
        align-items: end;
        row-gap: 2em;
        }

    .mis_inputs{
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 1.85em;
    }

}

/*----------------------------------------------*/
.section3{
    font-size: 20px;
    grid-area: section3;
    display: flex;
    flex-direction: column;
    align-items: start; 
    justify-content: center;

    & >p{
        border-bottom: 1px solid #ffffff; 
    }
    .medio_pago_tarjeta{
        padding-top: 0.6em;
    }
    
    .div_input_tarjeta,
    .div_checkbox,
    .numero_cbu{
        width: 17em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0;;
    }

    #codigo_tarjeta{
        width: 2.4em;
        margin-left: 0.4em;
    }

    .div_checkbox #check_rapi_pago{
        margin-left: 1.5em;
    }
}

/*-----------------------------------------------*/

.section4{
    grid-area: section4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.boton_verde,
.boton_rojo{
    font-size: 20px;
    height: 30px;
    width: 250px;
    border-radius: 7px;
    color: rgb(207, 207, 207);
}

.boton_verde{
    background-color: rgb(0, 133, 0);
    border: none;
    cursor: not-allowed;
    height: 35px; 
}

.boton_rojo{
    background-color: rgb(196, 0, 0);
    padding-top: 5px;
    text-align: center;
    text-decoration: none;

}

.section2 input,
.section3 input{
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background-color: #161C40;
    caret-color: rgb(255, 255, 255);
    color: #ffffff;
}

/*---------MEDIA QUERY---------------------------------*/
@media screen and (max-width: 960px) {
    .formulario{
        height: 1400px;
        padding-bottom: 0px;
        grid-template-areas: "section1 section1"
                             "section2 section2"
                             "section3 section3"
                             "section4 section4";                  
    }
    /*----Seccion 1 ----*/
    .section1 > p{
        font-size: 30px;
        margin-bottom: 0px;
    }
    /*----Seccion 2 ----*/
    .section2 {
        font-size: 25px;
        padding-right: 5.5em;

        & .e-mail_valor{
            padding-bottom: .8em;
        }
    }

    /*----Seccion 3 ----*/
    .section3{
        font-size: 25px;
        justify-content: center;
        align-items: center;
    }

    /*----Seccion 4 ----*/
    /*no cambie nada del section4*/
}

@media screen and (max-width: 752px){
    .formulario{
        grid-template-columns: 1fr; 
    }
    .section2{
        text-align: end;
        padding-left: 2em;
        
        & .e-mail_valor{
            padding-bottom: 0;
        }
        
        .mis_inputs{
            position: relative;

            & .e-mail_valor{
                position: relative;
                top: -2.8em;
            }
            #password_readonly{
                position: relative;
                top: -3.8em;;   
            }
            #new-password{
                position: relative;
                top: -1.4em;                
            }
            #repeat-new-password{
                position: relative;
                top: 2.5em;            
            }
        }
    }

    .section4{
        flex-direction: column;
    }
}

